@page "/bookings"
@attribute [StreamRendering]

<PageTitle>Bookings</PageTitle>

<h1>Bookings</h1>

<p>This component is responsible for being the source of truth for Bookings.</p>

@if (_bookings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>The Suppliers Service should have its own list of Companies, built from the events handled from the Operations service.

        <br />
        Use this list in a drop down when adding a new booking.
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Booking Id</th>
                <th>Booking Reference</th>
                <th>Customer Id</th>
                <th>Supplier Id</th>
                <th>Shipper Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in _bookings)
            {
                <tr>
                    <td>@booking.BookingId</td>
                    <td>@booking.BookingReference</td>
                    <td>@booking.CustomerId</td>
                    <td>@booking.SupplierId</td>
                    <td>@booking.ShipperId</td>
                </tr>
            }
        </tbody>
    </table>
}

@inject IConfiguration _configuration;
@inject IBookingService _bookingService;

@code {
    private IEnumerable<Booking>? _bookings;

    protected override async Task OnInitializedAsync()
    {
        _bookings = await _bookingService.GetBookingsAsync();
    }
}
